body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
h1 {
  font-size: 80px;
  margin: 0;
  font-weight: bold;
  color: #5d9a42;
  margin-bottom: 20px;
}
#main {
  min-height: 100vh;
  max-height: 100vh;
  background-image: url("../img/tiger-thai-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.container {
  width: 1000px;
  margin: auto;
}
.container.box-wrapper {
  background-color: #fff;
  text-align: center;
  padding: 70px 0;
  border-radius: 10px;
}
.container.box-wrapper img {
  margin-bottom: 20px;
}
.copyright {
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding-bottom: 30px;
}
.divider {
  height: 5px;
  width: 45%;
  background-color: #5d9a42;
  margin: auto;
  border-radius: 8px;
}
.food-court {
  font-size: 40px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
}
.address {
  font-size: 40px;
  margin: 0;
}
@media only screen and (max-width: 1050px) {
  .container {
    width: 100%;
    margin: auto;
  }
}
@media only screen and (max-width: 810px) {
  h1 {
    font-size: 60px;
    margin-bottom: 10px;
  }
  .food-court {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .address {
    font-size: 30px;
  }
}
@media only screen and (max-width: 560px) {
  h1 {
    font-size: 42px;
    margin-bottom: 10px;
  }
  .food-court {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .address {
    font-size: 18px;
  }
  .copyright {
    font-size: 16px;
  }
}
